In [8]:
import pandas as pd

def cor_mais_frequente(cor1, cor2, cor3):
    cores = [cor1, cor2, cor3]
    cor_mais_frequente = max(set(cores), key = cores.count)
    if cores.count(cor_mais_frequente) > 1:
        return cor_mais_frequente
    else:
        return 'conflito'

tabela = pd.read_excel('relatorioMG.xlsx')

classificadores = tabela['Código Classificador'].unique()

print(len(classificadores))
print(classificadores)

for classificador in classificadores:
  # Cria um novo dataframe para cada classificador
    exec(f"tabela{classificador} = tabela[tabela['Código Classificador'] == {classificador}]")
    # Ordena o dataframe
    exec(f"tabela{classificador} = tabela{classificador}.sort_values('SQ_CANDIDATO_OF')")
    # Remove os espaços antes e depois dos dados da coluna 'Cor'
    exec(f"tabela{classificador}['Cor'] = tabela{classificador}['Cor'].str.strip()")
    # Deleta as colunas 'SQ_CANDIDATO_x' e 'SQ_CANDIDATO_y'
    exec(f"tabela{classificador} = tabela{classificador}.drop(columns=['SQ_CANDIDATO_x', 'SQ_CANDIDATO_y', 'SQ_CANDIDATO', 'Nome Classificador', 'Código Classificador', 'Foto', 'Código da Cor'])")
    # Redefine o índice do dataframe
    exec(f"tabela{classificador} = tabela{classificador}.reset_index(drop=True)")

# Cria um novo dataframe que é a média dos três dataframes
df_final = tabela20.copy()
df_final['Cor'] = df_final.apply(lambda row: cor_mais_frequente(tabela20.loc[row.name, 'Cor'], tabela22.loc[row.name, 'Cor'], tabela32.loc[row.name, 'Cor']), axis=1)

df_final.to_excel('resultado.xlsx', index=False)

3
[20 22 32]

In [7]:
# Supondo que 'tabela20' seja o seu DataFrame
duplicados = tabela22[tabela22.duplicated(subset='SQ_CANDIDATO_OF', keep=False)]

# Imprime os valores duplicados
if not duplicados.empty:
    print("Os valores duplicados na coluna 'SQ_CANDIDATO_OF' são:")
    print(duplicados['SQ_CANDIDATO_OF'])
else:
    print("Não existem valores duplicados na coluna 'SQ_CANDIDATO_OF'.")

Os valores duplicados na coluna 'SQ_CANDIDATO_OF' são:
82     130000000340
83     130000000340
161    130000000418
162    130000000418
230    130000000674
231    130000000674
345    130000000889
346    130000000889
453    130000001143
454    130000001143
561    130000001331
562    130000001331
684    130000001992
685    130000001992
692    130000002018
693    130000002018
Name: SQ_CANDIDATO_OF, dtype: int64